<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- v-for을 통하여 반복 작업을 편하게 할 수 있다-->
        <li v-for="ingredient in ingredients">{{ingredient}}</li>
        <hr>

        <!-- index를 추가하기 위하여 in전에 index를 추가해 준다.
        (배열에서 불러온 정보 , index ) 형식임을 기억하자.-->
        <li v-for="(ingredient,index) in ingredients">{{ingredient}} ({{index}})</li>
        <hr>

        <!-- 템플릿을 활용한 v-for-->
        <template v-for="(ingredient,index) in ingredients">
            <h1>{{ingredient}}</h1>
            <p>{{index}}</p>
        </template>
        <hr>
        <!-- 객체를 반복하기 기존의 v-for과 같으며 .을 사용하여 변수에 접근한다.-->
        <li v-for="person in persons">{{person.name}}</li>
        <!-- 두개의 v-for문을 통하여 객체의 모든 변수에 접근할 수 있다.-->
        <li v-for="person in persons">
            <!-- (vlaue,key) 형식을 할경우 변수명과 변수값을 불러올수 있다.-->
            <!-- (vlaue,key,index) 형식을 통하여 인덱스 값까지 불러올 수 있다.-->
            <span v-for ="(value,key) in person">{{key}} : {{value}}</span>
        </li>
        <hr>

        <!-- in 뒤에 숫자를 입력할 경우 해당 숫자만큼 반복한다.(1부터 시작)-->
        <span v-for="n in 10">{{n}} </span>        
        <hr>
        
        <!-- push를 사용하여 배열에 요소를 추가하고 바로 적용할 수 있다.-->
        <button @click="pusharray.push('push')">add element</button>
        <!--key값을 bind하여 정보의 일관성을 유지한다.
        https://kr.vuejs.org/v2/guide/list.html  key 부분 참고-->
        <li v-for="(element,index) in pusharray" :key="element">{{element}}({{index}})</li>
    </div>
</body>

<script>
    new Vue({
        el: "#app",
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            pusharray: ['push', 'push', 'push'],
            persons: [
                { name: 'Max', age: 27, color: 'red' },
                { name: 'Anna', age: 'unknown', color: 'blue' }
            ]
        }
    });
</script>

</html>